# ใช้ไบนารีเป็นค่าเริ่มต้นเพื่อเร่งความเร็ว
--only-binary=:all:
--no-binary=prophet,pystan,cmdstanpy
--extra-index-url https://pypi.org/simple/

# Core
numpy==2.1.1
pandas==2.3.3
scikit-learn==1.6.1
joblib==1.4.2

# ML
xgboost==2.1.1

# Forecasting (อนุญาต build จากซอร์สเฉพาะ 3 ตัวนี้)
cmdstanpy==1.1.0
pystan==3.9.0
Cython==3.0.11
prophet>=1.1.5,<1.2

# Web app
streamlit==1.38.0
plotly==5.24.0

# Viz / misc
matplotlib==3.9.2
tzdata==2024.1
wheel==0.44.0
